#home-hero {
  padding: 100px 0;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#home-hero1 {
  padding: 300px 0;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
#home-cards {
  padding: 100px 0;

  .card {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
