.fixe {
  background: #a360fc;
  background: -webkit-linear-gradient(to right, #684dfa, #b29ff8);
  background: linear-gradient(to right, #684dfa, #b29ff8);
  min-height: 200px;
}

#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

